# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /a2zmachinerysupply/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /a2zmachinerysupply/index.php [L]
</IfModule>

# END WordPress